<nav class="navbar">

    <a
        href="/"
        class="logo"
    >
        Movie<span>Box</span>
    </a>


    <div class="search-wrapper">

        <input
            type="text"
            id="searchInput"
            class="search-input"
            placeholder="Search movies & TV shows..."
            autocomplete="off"
        >

        <div
            id="searchResults"
            class="search-results"
        ></div>

    </div>


    <div class="nav-links">

        <a href="/">
            Home
        </a>

        <a href="/movies">
            Movies
        </a>

        <a href="/tv">
            TV Series
        </a>

    </div>

</nav>